<div class="jumbotron">
  <h1 class="display-4">Hello, websockets!</h1>
  <p class="lead">This is an Angular app that should demo how Websocket communication is done between client and server</p>
  <hr class="my-4">
  <p class="text-success">Choose a page to see various ways of communication</p>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="marco-polo">Marco Polo <small>(Websocket)</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="marco-polo-sockjs">Marco Polo <small>(SockJS)</small></a>
    </li>
  </ul>
</div>
<div class="p-4">
  <router-outlet></router-outlet>
</div>
